@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;700&display=swap');

*{
    color: #c4fffc;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
}
body {

    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* background-color: linear-gradient(to bottom, black, gray); */
    
}
main i{
    color: #c05fe0;
}

/* HEADER START */

/* Line 22 tou html, mesa sto bootstrap */

/* HEADER END */






/* Left aside START */
main .container-fluid .aside-infos{
    border: 5px solid #733e85;
    border-radius: 10px;
    background-color: #02022c;
    opacity: 0.85;
    padding: 1rem;
    margin: 3rem 1rem auto 1rem;
/* display: none; */
}
/* Left aside END */



/* Right aside START */
main .container-fluid .aside-studies{
    border: 5px solid #733e85;
    border-radius: 10px;
    background-color: #02022c;
    opacity: 0.85;
    padding: 1rem;
    margin: 3rem -1rem auto -1rem;
/* display: none; */
}
/* Right aside END */



/* About Me  START */
main .container-fluid .about-me{
    border: 5px solid #733e85;
    border-radius: 10px;
    background-color: #02022c;
    opacity: 0.85;
    padding: 1rem;
    margin: 3rem 1rem auto -1rem;
/* display: none; */
}
/* About Me END */



/* PROJECTS START */
main .project-area{
    border: 5px solid #733e85;
    border-radius: 10px;
    background-color: #02022c;
    opacity: 0.85;
    padding: 1rem;
    margin: 2rem;
 }
 /* Main Content END */





/* test end */

/* main .project-area ul{
    list-style-type: none;
} */
.main .container-fluid .row .aside-studies ul{
    list-style-type: none;
}




/* footer */

